body {
  display: flex;
  padding: 5px;
  font-family: 'DM Sans';
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputTitle {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  padding: 12px 3px 8px 3px;
}

.checkboxLabel {
  font-size: 14px;
  font-weight: 500;
  color: #151439;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  position: relative;
  top: -1.5px;
  margin-right: 30px;
}

.inputText {
  border-radius: 20px;
  font-weight: 500;
  padding: 10px;
  text-indent: 0.2em;
  margin: 0px 5px 0px 5px;
  font-size: 14px;
  border: 1.5px solid #ebeaed;
  outline: none;
}
.inputText::placeholder {
  color: black;
  opacity: 0.4;
}

.inputText:focus {
  border: 1.5px solid #1e0e62;
}

.width100 {
  width: 100%;
}

.width90 {
  width: 90%;
}

.width50 {
  width: 50%;
}

.GenerateBtn {
  border: none;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: black;
  color: white;
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.count {
  text-align: center;
  display: flex;
  visibility: visible;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
