.container {
  align-content: center;
}

.inputTitle {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}

.checkboxLabel {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  top: -1.5px;
  margin-right: 30px;
}

.inputText {
  border-radius: 15px;
  padding: 10px;
  text-indent: 0.8em;
  margin: 0px 5px 0px 5px;
  font-size: 12px;
}

.width100 {
  width: 100%;
}

.width90 {
  width: 90%;
}

.width50 {
  width: 50%;
}

.GenerateBtn {
  margin-top: 10px;
  height: 28px;
  border-radius: 15px;
  background-color: black;
  color: white;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.count {
  display: flex;
  text-align: center;
  display: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  color: black;
  align-items: center;
  justify-content: center;
}
